/* body {
    /* background-image: url(/images/grogu_tamagotchi.jpg);
    background-size: cover; }*/

/* body{
  background-image: url(/images/background-lights-on.webp);
  background-size: cover;
} */

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #background {
  background-image: url(/Users/emiliocamposjr/sei-cosmos/homeworks/Tamagotchi-Mini-Project/images/background-lights-on.webp);
  background-size: cover;
} */

#nameGrogu {
display: flex;
justify-content: center;
align-content: center;
color: #b2a399;
text-shadow: 2px 2px #9cbb80;
font-size: 40px;
margin: 10px 15px auto auto;
}

.container1 {
display: flex;
justify-content: center;
align-content: center;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
justify-content: space-evenly;
}

#Feed{
  border: solid thick cyan;
  background-color: peachpuff;
}

#Sleep{
  border: solid thick crimson;
  background-color: rgba(0, 0, 0, 0.724);
  color: lightgoldenrodyellow;
}

#Play{
  border: solid thick slategrey;
}

#startButton{
  border: solid thick green;
}

.container2 {
display: flex;
justify-content: center;
align-content: center;
height: 200px;
width: 200px;
margin-top: 130px;
margin-bottom: 100px;
margin-left: auto;
margin-right: auto;
animation-duration: 5s;
animation-name: floatGrogu;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-delay: 0s;
alternate-direction: alternate;
/* border: solid 6px #9cbb80; */
/*obtained the above color by googling grogu's skin color hex code and finding it on this website: https://colorswall.com/palette/85592*/
/* border-radius: 110px; */
/* outline: 1px solid red; */
}

@keyframes floatGrogu{
    0% {transform: translate(0, 0px); }
    50% {transform: translate(0, 15px); }
    100% {transform: translate(0, 0px); }   
}

/*source for transform and translate: https://www.geeksforgeeks.org/css-floating-animation/
The % values dictate in what poinnt in the process the animation is in. So halfway through the animation, the element will reach the point that we've specified, or moving it 15 pixels.
transform allows the user to move, an element to coordinates that you input in the translation code.
translate moves the object vertically and horizontally on a 2d plane. Here, we're moving the element vertically (along the y axis) 15 pixels.  */

.container3 {
  border: dotted thin #9cbb80; 
  color: white;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}


/* #grogu_tamagotchi{
        width: 300px;
    } */

/* for animating my image, i.e., making it move */
/* 
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  } */

/* for the buttons */
  /* .container {
    display:flex;
    flex-wrap: wrap;
    width: 300px;
    } */